<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="https://uploads-ssl.webflow.com/60cca9384ff7eaa931a24b69/60ce44133ce5aee0e6c9cac9_Mern.png" class="img-circle" alt="Admin Image">
            </div>
            <div class="info">
                <a href="/admin" class="d-block"> MERN Stack Team 2022 </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allServices" class="nav-link">
                        <!-- <i class="nav-icon fa fa-pie-chart"></i> -->
                        <!-- <p> Services <i class="right fa fa-angle-left"></i> </p> -->

                        <i class="fa-solid fa-notes-medical"></i>
                        <p class="ml-2"> Services </p>
                    </a>
                    
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allDepartments" class="nav-link text-warning">
                        <i class="fa fa-building-o"></i>
                        <p class="ml-2"> Departments </p>
                    </a>
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allDoctors" class="nav-link text-warning">
                        <!-- <i class="fa-solid fa-stethoscope"></i> -->
                        <i class="fa-solid fa-user-doctor"></i>
                        <p class="ml-2"> Doctors </p>
                    </a>
                    <!-- <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-circle-o nav-icon"></i>
                                <p> Add Qualification </p>
                            </a>
                        </li>
                    </ul> -->
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allAppointments" class="nav-link text-warning">
                        <i class="fa-solid fa-calendar-check"></i>
                        <p class="ml-2"> Appointments </p>
                    </a>
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allCategories" class="nav-link">
                        <!-- <i class="fa-solid fa-square-rss"></i> -->
                        <i class="fa-solid fa-c"></i>
                        <p class="ml-2"> Category </p>
                    </a>
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allBlogs" class="nav-link">
                        <i class="fa-solid fa-blog"></i>
                        <p class="ml-2"> Blogs </p>
                    </a>
                </li>

                <li class="nav-item has-treeview mb-3">
                    <a href="/admin/allUsers" class="nav-link text-primary">
                        <i class="fa-solid fa-user"></i>
                        <p class="ml-2"> Users </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>